body{
    margin:0;
 }
.topnav {
  overflow: hidden;
  background-color: #8D8145;
}
.topnav #home{
    background-color: #f53218;
}
.topnav #BookCar{
  background-color: #81ACA5;
}
.topnav #seeBookings{
  background-color: orange;}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.topnav a:hover {
  background-color:#f6862483;
  color: black;
}
#div2{

    margin-left: 20%;
    margin-right: 20%;
}

  
#div1{ 
    text-align: left;
    font-style: italic;
    color: rgb(78, 77, 77);
}